<!-- THIS CHAT FEATURE WILL BE COMPLETED IN VERSION 2.0 OF COMMUNAL. THIS WILL REPLACE THE EMAIL FUNCTION USED WHEN CLAIMING AN ITEM/RESOURCE VIA COMMUNAL -->
<!doctype html>
<html lang="en">
<style>
    * { margin: 0; padding: 0; box-sizing: border-box; }
    body { font: 13px Helvetica, Arial; }
    form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
    form input { border: 0; padding: 10px; width: 90%; margin-right: 0.5%; }
    form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
    #messages { list-style-type: none; margin: 0; padding: 0; }
    #messages li { padding: 5px 10px; }
    #messages li:nth-child(odd) { background: #eee; }
  </style>
<body>
    <ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<!-- this code is altered from socket.io's chat box tutorial -->
<script>var socket = io();  socket.emit('chat message', //this jut runs when the page loads- we want this to run when you click on a button
JSON.stringify( {from: "<%=email%>", message:"Hi I'm interested in the <%=Listing.itemTitle %>",
to: "<%=Listing.email %>" }));
socket.on('chat message', function(msg){
      console.log(msg) //create lis and put them on the screen
    });
</script>
</html>
