<!doctype html>
<html id="bodyIndexPage">
<head>
    <title>COMMUNAL APP</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="jumbotron text-center">
        <h1 id="indexH1">Communal App</h1>
        <a href="/login" id="indexLeftbutton" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>
    </div>
</div>
</body>
</html>
