<!-- When the /login page awhich authenticates the user information to what's stored inside the database -->

<!doctype html>
<html>

<head>
  <title>COMMUNAL</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/custom-bs.css">
  <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="css/bootstrap-select.min.css">
  <link rel="stylesheet" href="fonts/icomoon/style.css">
  <link rel="stylesheet" href="fonts/line-icons/style.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/quill.snow.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body id="bodyLoginPage">
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 id="loginH1"><span class="mb-4"></span> Login</h1>
      <% if (message.length > 0) { %>
      <!-- the line is to prevent the user from making blank entries, this will work because the length of a blank field is -1  -->
      <div class="alert alert-danger"><%= message %></div>
      <!-- This creates an alert message to the user to ask them to login or create a login account  -->
      <% } %>
      <!-- LOGIN FORM -->
      <form action="/login" method="post">
        <!-- the form , using the method of POST will take your information and save it into the database, Authenticate login Section on Routes.js-->
        <div class="form-group">
          <label class="text-black" for="fname">Email</label>
          <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
          <label class="text-black" for="fname">Password</label>
          <input type="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn px-4 btn-primary text-white">Login</button>
      </form>
      <hr>
      <p>Need an account? <a href="/signup">Signup</a></p>
      <p>Or go <a href="/">Home</a>.</p>
</body>
</html>
